body {
    font-family: Roboto;
    display: flex;
    flex-direction: column;
    margin: 0px;
}

.header {
    background-color: #1F2937;
    color: #F9FAF8;
    font-size: 24px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.header_2 {
    display: flex;
    background-color: #1F2937;
    justify-content: space-around;
    padding: 100px;
    padding-left: 215px;
    padding-right: 215px;
}

.topimage {
    width: 500px;
    height: 200px;
}

.images {
    border-radius: 8px;
    border: 2px solid #3882F6;
    width: 150px;
    height: 150px;
}

.header_left {
    display: flex;
    flex-direction: column;
}

.awesome {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
    display: flex;
}

.awesome_subtext {
    display: flex;
    font-size: 18px;
    color: #E5E7EB;
}

.content {
    display: flex;
    flex-direction: column;
}

.top {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.random {
    display: flex;
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
    justify-content: center;
    padding-top: 30px;
}

.photo {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.photos {
    display: flex;
    justify-content: center;
    gap: 40px;
    padding-bottom: 100px;
}

.text {
    display: flex;
    color: #1F2937;
    width: 150px;
}

.quote {
    display: flex;
    flex-direction: column;
    background-color: #E5E7EB;
    color: #1F2937;
    font-weight: 300;
    font-size: 36px;
    padding: 50px;
    padding-left: 400px;
    padding-right: 400px;
}

.testimonial {
    justify-content: center;
    display: flex;
}

.thor {
    display: flex;
    color: #1F2937;
    font-weight: 900;
    font-size: 24px;
    justify-content: flex-end;
}

.cta {
    display: flex;
    background-color: #3882F6;
    color: #F9FAF8;
    justify-content: space-around;
    padding: 40px;
    margin: 100px;
    margin-left: 300px;
    margin-right: 300px;
    border-radius: 10px;
    align-items: center;
}

.cta_text {
    display: flex;
    flex-direction: column;
}

.h3 {
    display: flex;
    font-size: 24px;
}

.signup {
    display: flex;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1F2937;
    color: #F9FAF8;
    padding: 40px;
}

.bottom_button {
    background-color: #3882F6;
    color: #F9FAF8;
    border: 2px solid #F9FAF8;
    border-radius: 8px;
    width: 100px;
    height: 25px;
}

.top_button {
    width: 100px;
    height: 30px;
    border-radius: 8px;
    background-color: #3882F6;
    color: #F9FAF8;
    margin-top: 10px;
}
ul {
    list-style-type: none;
    display: flex;
    padding: 0px;
    gap: 20px;
}

a {
    color: #E5E7EB; 
    font-size: 18px;
    text-decoration: none;
}
